.user-info{
    border-right: 2px solid gray;
}

.spinner2{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.order-container{
    background-image: linear-gradient(60deg ,rgb(73, 218, 218),rgb(193, 227, 238));
    height: 45rem;
}
.table{
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
    .order-info{
        margin-top: 30px;
    }
  }
