.bg-color{
    background-image: linear-gradient(60deg ,rgb(73, 218, 218),rgb(193, 227, 238));
    
    
}
.card-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

.btnStyle{
    font-weight: 600;
}

.spinner{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.home-container{
    background-color: rgb(230, 228, 228) ;
}

@media only screen and (max-width: 992px) {
    .card-style{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-top: 40px;
    }
  }
@media only screen and (max-width: 770px) {
    .card-style{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-top: 40px;
    }
  }
@media only screen and (max-width: 570px) {
  
    .btnStyle{
        display: block;
        margin: auto;
        margin-top: 20px;

    }
  }

